@use "/src/sass/blocks/shutter/shutter.scss";
@use "/src/sass/blocks/matches/matches.scss";
@use "/src/sass/blocks/rectangle/rectangle.scss";
@use "/src/sass/blocks/footer/footer.scss";




*{
    margin: 0;
    padding: 0;

}

.container {
    padding-inline: 200px;
}